<%= link_to "Add a new todo", new_todo_path %>

<ul class="todos">
  <% @todos.each do |todo| %>
    <li class="<%= ('completed') if todo.completed? %>">
      <%= todo.title %>
      <% if todo.completed? %>
        <%= link_to "Mark incomplete", incomplete_todo_path(todo), method: :post %>
      <% else %>
        <%= link_to "Mark complete", complete_todo_path(todo), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>